</br>
</br>
<div class="container">
  <div class="jumbotron">
    <h1>Archer Blog</h1> 
    <p>This is a blog about Archer the series</p> 
    <a class="btn btn-primary" href="/compose">New Post</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Title</td>
          <td>Author</td>
          <td>Category</td>
          <td>Date</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="post in posts">
          <td>{{post.title}}</td>  
          <td>{{post.firstname}} {{post.lastname}}</td>  
          <td>{{post.name}}</td>  
          <td>{{post.createdAt | date: small}}</td>  
          <td>
            <a class="btn btn-default" href="/{{post.id}}">Read</a>
          </td>
        </tr> 
      </tbody>
</table>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <label for="email">Email:</label>
        <input id="email" ng-model="email" type="email">
        <label for="password">Password:</label>
        <input id="password" ng-model="password" type="password">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="login()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>