</br>
</br>
<div class="container">
  <div class="jumbotron">
    <h1>Archer Blog</h1>
    <p>This is a blog about Archer the series</p>
    <a ng-show="navUser" class="btn btn-primary" href="/compose">New Post</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Title</td>
          <td>Author</td>
          <td>Category</td>
          <td>Date</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="post in posts">
          <td>{{post.title}}</td>
          <td>{{post.firstname}} {{post.lastname}}</td>
          <td>{{post.name}}</td>
          <td>{{post.createdAt | date: small}}</td>
          <td>
            <a class="btn btn-default" href="/{{post.id}}">Read</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>